@{
  Layout = "_Layout";
}

<nav class="well">
    <ul class="nav nav-pills purple nav-justified">
        <li class="active"><a href="/stylists">Stylists</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/specialties">Specialties</a></li>
    </ul>
</nav>

<h2>Details for @Model["stylist"].GetFirstName() @Model["stylist"].GetLastName()</h2>

<div class="options well">
    <h3 class="options">Options</h3>
    <p class="options"><a href='/stylists/@Model["stylist"].GetId()/clients/new'><span class="glyphicon glyphicon-plus"></span> Add new client</a></p>
    <p class="options"><span class="glyphicon glyphicon-plus"></span> Add Specialty<form method="post" action='/stylists/@Model["stylist"].GetId()/add-specialty'>
            <select name="add-specialty" class="form-control">
                @foreach (var specialty in @Model["allSpecialties"])
                {
                    <option value="@specialty.GetId()">@specialty.GetName()</option>
                }
            </select>
            <button type="submit" class="btn btn-default">Add Specialty</button>
        </form>
    </p>
</div>

@if (@Model["clients"].Count > 0)
{
    <h3>Clients</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
        </thead>
        <tbody>
            @foreach(var client in Model["clients"])
            {
                <tr>
                    <td>@client.GetFirstName() @client.GetLastName()</td>
                    <td>@client.GetPhoneNumber()</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (@Model["specialties"].Count > 0)
{
    <h3>Specialties</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Specialty Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var specialty in @Model["specialties"])
            {
                <tr>
                    <td>@specialty.GetName()</td>
                </tr>
            }
        </tbody>
    </table>
}
