@{
  Layout = "_Layout";
}


<h2>Details for @Model["stylist"].GetFirstName() @Model["stylist"].GetLastName()</h2>

<h3>Specialty: @Model["stylist"].GetSpecialty()</h3>

<div class="add">
    <a href='/stylists/@Model["stylist"].GetId()/clients/new'><span class="glyphicon glyphicon-plus"></span>Add new client</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Delete</th>
    </thead>
    <tbody>
        @foreach(var client in Model["clients"])
        {
            <tr>
                <td>@client.GetFirstName() @client.GetLastName()</td>
                <td>@client.GetPhoneNumber()</td>
                <td><a href="/clients/@client.GetId()/delete"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        }
    </tbody>
</table>
<p class="nav"><a href="/stylists">Return Home</a></p>
