@{
  Layout = "_Layout";
}


<h2>Details for @Model["stylist"].GetFirstName() @Model["stylist"].GetLastName()</h2>

<div class="add">
    <a href='/stylists/@Model["stylist"].GetId()/clients/new'><span class="glyphicon glyphicon-plus"></span>Add new client</a>
</div>
@if (@Model["clients"].Count > 0)
{
    <h3>Clients</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
        </thead>
        <tbody>
            @foreach(var client in Model["clients"])
            {
                <tr>
                    <td>@client.GetFirstName() @client.GetLastName()</td>
                    <td>@client.GetPhoneNumber()</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (@Model["specialties"].Count > 0)
{
    <h3>Specialties</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Specialty Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var specialty in @Model["specialties"])
            {
                <tr>
                    <th>@specialty.GetName()</th>
                </tr>
            }
        </tbody>
    </table>
}
<p class="nav"><a href="/stylists">Return Home</a></p>
