@{
  Layout = "_Layout";
}

<h2>Details for specialty</h2>
<p>Name of specialty: @Model["specialty"].GetName()</p>
<form method="post" action='/specialties/@Model["specialty"].GetId()/add-stylist'>
    <div class="form-group">
        <select name="add-stylist">
            @foreach(var stylist in @Model["allStylists"])
            {
                <option value="@stylist.GetId()">@stylist.GetFirstName() @stylist.GetLastName()</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-default">Add Stylist</button>
</form>

@if (@Model["stylists"].Count > 0)
{
    <h3>Stylists with this specialty</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Stylist Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var stylist in @Model["stylists"])
            {
                <tr>
                    <td>@stylist.GetFirstName() @stylist.GetLastName()</td>
                </tr>
            }
        </tbody>
    </table>
}
<a href="/specialties">Back to home</a>
